@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* common style start */

.container {
    width: 1130px;
    margin: 0 auto;
}

.heading {
    font-size: 45px;
    line-height: 54px;
    font-weight: bold;
    color: #121212;
}

.para {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #ff5959;
    border-radius: 5px;
    padding: 16px 12px;
}

/* common style end */

/* hero section start */

#hero-section {
    height: 100vh;
    /* width: 100vw; */
    background:  url(./images/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-details {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-heading {
    color: #fff;
    font-size: 65px;
    line-height: 79px;
    font-weight: bold;
}
.hero-para {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* hero section end */

/* Donate section start */
    
    #donate-section {
        padding-top: 130px;
        padding-bottom: 75px;
    }

    .donate-details {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .donate-para {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        height: 123px;
        width: 135px;
        border-radius: 5px;
    }
    .box-2 {
        background-color: #ffeeee; 
        border: 2px solid #ff5959;

    }
    .donate-amount {
        display: flex;
        width: 765px;
        justify-content: space-between;
        margin-bottom: 50px;
    
    }
    .box-heading {
        font-size: 30px;
        line-height: 36px;
        color: #707070;
        font-weight: bold;
    }
    .box-heading-2 {
        color: #ff5959;
    }
    .input-amount {
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        color: #b3b3b3;
        width: 763px;
        border-bottom: 1px solid #dadada;
        margin-bottom: 30px;
    }
    
    .form-btn {
        border: none;
    }

/* Donate section end */

/* Donate plan section start */

    #donate-plan-section {
        padding: 75px 0;
    }

    .plan-text {
        text-align: center;
    }

    .plan-items {
        display: flex;
        justify-content: space-between;
    }
    .plan-item {
        padding: 55px 23px;
        width: 360px;
        height: 352px;
    }
    .plan-item-1 {
        background-color: rgba(79, 157, 166, 0.1);
    }
    .plan-item-2 {
        background-color: rgba(255, 89, 89, 0.1);
        margin-left: 25px;
        margin-right: 25px;
    }
    .plan-item-3 {
        background-color: #fff4d6;
    }

    .icon {
        height: 53px;
        width: 53px;
    }
    .plan-item-heading {
        margin-top: 30px;
        margin-bottom: 16px;
        color: #121212;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
    }
    .plan-item-para {
        font-size: 16px;
        line-height: 24px;
        color: #707070;
    }

/* Donate plan section end */

/* Bonus section start */

    #bonus-section {
        padding: 100px 70px;
        background-image: url(./images/donation2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .bonus-section-items {
        display: flex;
        justify-content: center;
    }
    .bonus-section-items > * {
        flex-basis: 100%;
    }
    .bonus-section-item-2 {
        text-align: center;
        
        display: flex;
        justify-content: end;
    }
    .bonus-section-item {
        padding-top: 100px;
        padding-left: 90px;
        padding-right: 90px;
        background-color: #C54626;
        width: 500px;
        height: 460px;
    }
    .bonus-heading {
        color: #fff;
    }
    .bonus-para {
        color: #fff;
    }
    .bonus-btn {
        text-decoration: none;
        font-weight: 800;
        background-color: transparent;
        text-transform: uppercase;
        color: #fff;
        padding: 16px 30px;
        border: 1px solid #fff;
    }

/* Bonus section end */

/* Newsletter section start */

    #newsletter-section {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 75px;
        margin-bottom: 130px;
    }

    .newsletter-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF4D6;
        width: 810px;
        height: 200px;
    }
    .newsletter-input {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #aa9f9f;
        border: none;
        width: 275px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 17px;
        background-color: #d9d9d9;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .subscribe-btn {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        font-weight: 500;
        padding: 14px 43px;
        border: none;
        background-color: #ff5959;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

/* Newsletter section end */

/* Footer section start */

    #footer-section {
        background-color: #000;
    }

    .footer-para {
        color: #fff;
        padding: 30px ;
        text-align: center;
    }

/* Footer section end */